.preloader {
	position: fixed;
	z-index: 1001;
	background: #fff;
	width: 100%;
	height: 100%;
	color: rgb(10, 10, 10);
	font-weight: 400;
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.loaded .preloader {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}

@media only screen and (max-width: 768px) {
	.preloader {
		font-size: 16px;
	}
}

.loader-container {
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	width: 100%;
}

.loader-container span {
	display: inline-block;
	opacity: 1;
	margin-right: 30px;
}

.loader-container span:last-child {
	margin: 0;
}

.loader-container span:nth-child(1) {
    -webkit-animation: fade 1s infinite 100ms;
    animation: fade 1s infinite 100ms;
}
.loader-container span:nth-child(2) {
    -webkit-animation: fade 1s infinite 200ms;
    animation: fade 1s infinite 200ms;
}
.loader-container span:nth-child(3) {
    -webkit-animation: fade 1s infinite 300ms;
    animation: fade 1s infinite 300ms;
}
.loader-container span:nth-child(4) {
    -webkit-animation: fade 1s infinite 400ms;
    animation: fade 1s infinite 400ms;
}
.loader-container span:nth-child(5) {
    -webkit-animation: fade 1s infinite 500ms;
    animation: fade 1s infinite 500ms;
}
.loader-container span:nth-child(6) {
    -webkit-animation: fade 1s infinite 600ms;
    animation: fade 1s infinite 600ms;
}
.loader-container span:nth-child(7) {
    -webkit-animation: fade 1s infinite 700ms;
    animation: fade 1s infinite 700ms;
}

@keyframes fade {
    50% {
        opacity: 0.02;
    }
}

@-webkit-keyframes fade {
    50% {
        opacity: 0.02;
    }
}